@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:wght@600&display=swap');

p {
  font-family: 'Lato', 'Times New Roman', sans-serif;
  padding: 1.5vw 0px;
  font-size: 3vw;
  line-height: 4vw;
}

h1, h2, h3 {
  font-family: 'Lora', arial, serif;
}

h1 {
  font-size: 10vw;
  font-weight: bold;
  color: #FFC200;
}

h2 {
  font-size: 7vw;
  margin: 10px 0px;
  font-weight: bold;
}

h3 {
  font-size: 4vw;
  margin: 10px 0px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

img {
    width: 50%;
    border: 10px solid black;
    border-radius: 1vw;
  }

img:nth-of-type(even) {
  width:60%;
  border: 5px solid black;
  border-radius: 200px;
}

dt{
  padding: 1.5vh 0vh;
  font-weight: bold;
  font-family: 'Lato', 'Times New Roman', sans-serif;
  font-size: 4vw;
}

dd {
  padding: 0.75vh 0vh;
  font-weight: bold;
  font-family: 'Lato', 'Times New Roman', sans-serif;
  font-size: 3vw;
}

nav {
  overflow: hidden;
  background-color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
}

nav img {
  width: 5vw;
  animation-name: resize;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

nav a {
  text-decoration: none;
  color: #FFC200;
  padding: 14px 16px;
  font-size: 5vw;
  display: block;
}

nav a:focus {
  color: #FFFFFF;
  text-decoration: underline  ;
  border: 2px solid #FFFFFF;
}

nav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

nav #mobilelinks {
  display: none;
}

main {
  margin-bottom: 2vw;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0px;
}

footer p {
  padding: 5px 0px;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

@keyframes resize {
  from   {width: 45vw}
  to  {width: 18vw}
}

.current_link {
  color: white;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.margins {
  margin-left: 40px;
  margin-right: 40px;
}

.intro {
  background: #FFFFFF url('../images/women_march_pano.jpg');
  min-height: 300px;
  background-position: center;
  background-size: cover;
}

.main_label {
  height: 100px;;
}

.main_label h1{
  text-align: center;
  background-color: rgba(96, 15, 71, 0.8);
  padding: 10px 0px;
}

.other_label h1{
  text-align: center;
  background-color: rgba(96, 15, 71, 1);
  padding: 5vh 0px;
}

.femdict_label h1{
  text-align: center;
  background-color: rgba(96, 15, 71, 1);
  padding: 10px 0px 0px 0px;
}

.femdict_label p {
  text-align: center;
  background-color: rgba(96, 15, 71, 1);
  color: #FFC200;
  padding: 10px 40px 20px 40px;
}

.skip_to_main {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.skip_to_main:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.lit_grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  padding: 2vh;
}

.lit_grid div{
  border: 3px solid black;
  border-radius: 3vw;
  padding: 2vw;
  background-color: white;
  color: black;
}

.lit_grid img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.lit_grid .item:nth-of-type(odd) img {
  width:90%;
  border: 5px solid black;
  border-radius: 200px;
  opacity: 60%;
}

.lit_grid ul li {
  font-size: 3vw;
  font-family: 'Lato', 'Times New Roman', sans-serif;
  padding: 0.3vh 0vw;
}

.history_grid img {
  width: 50%;
}

.history_grid .item:nth-of-type(odd) img {
  border: 2px solid black;
  border-radius: 12vw;
  opacity: 80%;
}

.grid{
    display: grid;
    margin: auto;
    grid-template-columns: 100%;
    grid-row-gap: 1vw;
    width: 90%;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .grid .item {
    border: 0.3vw solid rgba(96, 15, 71, 1);
    padding: 3vw;
    border-radius: 3vw;
    background-color: lightyellow;
  }

  .grid img{
    display: block;
    margin: 1.5vw auto;
    width: 100%;
  }

  .grid img:hover {
    border: 0.5vw double rgba(96, 15, 71, 1);
    padding: 2vw;
  }

  .grid ul li {
    font-family: 'Lato', 'Times New Roman', sans-serif;
    font-size: 3vw;
    line-height: 4vw;
    list-style: inside;
  }

  .grid .item:nth-of-type(odd) img {
    border: 2px solid black;
    border-radius: 12vw;
    opacity: 80%;
  }

  .grid .item:nth-of-type(odd) img:hover {
    border: 0.5vw double rgba(96, 15, 71, 1);
    padding: 2vw;
  }

  .grid h2 {
    background-color: rgba(96, 15, 71, 1);
    color: #FFC200;
    text-align: center;
    padding: 1vw 0vw;
    font-size: 4vw;
  }

  .femdict dl{
    display: grid;
    border: 0.3vw solid rgba(96, 15, 71, 1);
    border-radius: 3vw;
    padding: 0.5vw 3vw;
    margin: 2vw 0vw;
    background-color: lightyellow;
  }

  .femdict dt{
    background-color: rgba(96, 15, 71, 1);
    color: #FFC200;
    text-align: center;
    padding: 1vw 0vw;
    margin: 1vw auto;
    border-radius: 1vw;
    width: 100%;
  }

  .femdict dd{
    border: 0.3vw solid rgba(96, 15, 71, 1);
    border-radius: 3vw;
    padding: 1vw;
    margin: 1vw;
    text-align: center;
  }

  nav #mobilelinks {
    display: inline;
  }

  dt:first-child {
    margin-top: 2vw;
  }

 .logo_link:hover {
    border: none;
    cursor: default;
  }

  .logo:hover {
    border: 2px solid #FFFFFF;
    cursor:pointer;
  }

@media screen and (prefers-reduced-motion: reduce) {
  header img {
    width: 18vw;
    animation-play-state: paused;
  }
}

@media screen and (min-width: 600px) {
  p {
    font-family: 'Lato', 'Times New Roman', sans-serif;
    padding: 0.5vw 0px;
    font-size: 2vw;
    line-height: 3vw;
  }

  h1, h2, h3 {
    font-family: 'Lora', arial, serif;
  }

  h1 {
    font-size: 7vw;
    font-weight: bold;
    color: #FFC200;
  }

  h2 {
    font-size: 4vw;
    margin: 10px 0px;
    font-weight: bold;
  }

  h3 {
    font-size: 3vw;
    margin: 10px 0px;
    font-weight: bold;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: black;
  }

  img {
      width: 50vw;
      border: 10px solid black;
      border-radius: 1vw;
    }

  img:nth-of-type(even) {
    width:40vw;
    border: 5px solid black;
    border-radius: 200px;
  }

  dt{
    padding: 1.5vh 0vh;
    font-weight: bold;
    font-family: 'Lato', 'Times New Roman', sans-serif;
    font-size: 3vw;
  }

  dd {
    padding: 0.75vh 0vh;
    font-weight: bold;
    font-family: 'Lato', 'Times New Roman', sans-serif;
    font-size: 2.5vw;
  }

  header {
    background-color: #000000;
    text-align: center;
  }

  header img {
    margin: 0.5vw 0vw;
    animation-name: resize;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  nav {
      padding: 1vw 0vw;
      border-bottom: 1px solid black;
      background-color: black;
  }

  nav ul {
    display: flex;
    width: 80vw;
    margin: auto;
  }

  nav ul li {
      display: inline;
      width: 80vw;
      margin: auto;
  }

  nav a{
      text-decoration: none;
      color: #FFC200;
      font-size: 3vw;
  }

  nav a:hover {
    color: #FFFFFF;
    padding: 4px;
    border: 2px solid #FFFFFF;
  }

  nav img {
    width: 20vw;
    border: none;
  }

  nav a img:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: black;
  }

  main {
    margin-bottom: 2vw;
  }

  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  footer a {
    color: white;
  }

  footer a:hover {
    color: white;
    text-decoration: underline;
  }

  @keyframes resize {
    from   {width: 20vw}
    to  {width: 10vw}
  }

  .current_link {
    color: white;
    text-decoration: underline;
    text-underline-offset: 6px;
    padding: 5px;
  }

  .margins {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
  }

  .intro {
    background: #FFFFFF url('../images/women_march_pano.jpg');
    min-height: 300px;
    background-position: center;
    background-size: cover;
    margin-bottom: 2vw;
  }

  .main_label h1{
    text-align: center;
    background-color: rgba(96, 15, 71, 0.8);
    padding: 10px 0px;
    width: 100%;
  }

  .skip_to_main {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
  }

  .skip_to_main:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }

  .grid{
    display: grid;
    margin: auto;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    width: 90%;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .grid .item {
    border: 0.3vw solid rgba(96, 15, 71, 1);
    padding: 3vw;
    border-radius: 3vw;
    background-color: lightyellow;
  }

  .grid img{
    display: block;
    margin: 1.5vw auto;
    width: 100%;
  }

  .grid img:hover {
    border: 0.5vw double rgba(96, 15, 71, 1);
    padding: 2vw;
  }

  .grid ul li {
    font-family: 'Lato', 'Times New Roman', sans-serif;
    font-size: 2vw;
    line-height: 3vw;
    list-style: inside;
  }

  .grid .item:nth-of-type(odd) img {
    border: 2px solid black;
    border-radius: 12vw;
    opacity: 80%;
  }

  .grid .item:nth-of-type(odd) img:hover {
    border: 0.5vw double rgba(96, 15, 71, 1);
    padding: 2vw;
  }

  .grid h2 {
    background-color: rgba(96, 15, 71, 1);
    color: #FFC200;
    text-align: center;
    padding: 1vw 0vw;
    font-size: 4vw;
  }

  .femdict dl{
    display: grid;
    border: 0.3vw solid rgba(96, 15, 71, 1);
    border-radius: 3vw;
    padding: 0.5vw 3vw;
    margin: 2vw 0vw;
    background-color: lightyellow;
  }

  .femdict dt{
    background-color: rgba(96, 15, 71, 1);
    color: #FFC200;
    text-align: center;
    padding: 1vw 0vw;
    margin: 1vw auto;
    border-radius: 1vw;
    width: 100%;
  }

  .femdict dd{
    border: 0.3vw solid rgba(96, 15, 71, 1);
    border-radius: 3vw;
    padding: 1vw;
    margin: 1vw;
    text-align: center;
  }

  .icon {
    visibility: hidden;
  }

  nav #mobilelinks {
    display: inline;
  }

  dt:first-child {
    margin-top: 2vw;
  }

 .logo_link:hover {
    border: none;
    cursor: default;
  }

  .logo:hover {
    border: 2px solid #FFFFFF;
    cursor:pointer;
  }
}

@media screen and (min-width: 1025px) {
  p {
    font-family: 'Lato', 'Times New Roman', sans-serif;
    font-size: 1.5vw;
    line-height: 2.5vw;
  }

  h1, h2, h3 {
    font-family: 'Lora', arial, serif;
  }

  h1 {
    font-size: 6vw;
    font-weight: bold;
    color: #FFC200;
  }

  h2 {
    font-size: 3.5vw;
    margin: 10px 0px;
    font-weight: bold;
  }

  h3 {
    font-size: 2.5vw;
    margin: 10px 0px;
    font-weight: bold;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3vw;
    color: black;
  }

  dt{
    font-weight: bold;
    font-family: 'Lato', 'Times New Roman', sans-serif;
    font-size: 2.5vw;
  }

  dd {
    font-weight: bold;
    font-family: 'Lato', 'Times New Roman', sans-serif;
    font-size: 1.5vw;
  }

  header img {
    animation-name: resize;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  nav {
    background-color: black;
  }

  nav ul {
    display: flex;
    width: 100vw;
    margin: auto;
  }

  nav ul li {
    width: 100vw;
    margin: auto;
  }

  nav a{
    font-size: 3vw;
    color: #FFC200;
    text-decoration: none;
  }

  nav a:hover {
    color: #FFFFFF;
    padding: 0.4vw;
    border: 0.1vw solid #FFFFFF;
  }

  nav img {
    width: 20vw;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: black;
  }

  main {
    margin-bottom: 2vw;
  }

  footer {
    position: relative;
    left: 0vw;
    bottom: 0vw;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  footer p {
    line-height: initial;
  }

  footer a {
    color: white;
  }

  footer i{
    padding: 0.3vw 0vw;
  }

  footer a:hover {
    color: white;
    text-decoration: underline;
    border: 0.1vw solid #FFFFFF;
    padding: 0.2vw;
  }

  @keyframes resize {
    from   {width: 20vw}
    to  {width: 10vw}
  }

  .current_link {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.3vw;
  }

  .margins {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
  }

  .intro {
    background: #FFFFFF url('../images/women_march_pano.jpg');
    min-height: 25vw;
    background-position: center;
    background-size: cover;
  }

  .main_label h1{
    text-align: center;
    background-color: rgba(96, 15, 71, 0.8);
    padding: 1vw 0vw;
  }

  .skip_to_main {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
  }

  .skip_to_main:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }

  .grid{
    display: grid;
    margin: auto;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    width: 90%;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .grid .item {
    border: 0.3vw solid rgba(96, 15, 71, 1);
    padding: 3vw;
    border-radius: 3vw;
    background-color: lightyellow;
  }

  .grid img{
    display: block;
    margin: 1.5vw auto;
    width: 100%;
  }

  .grid img:hover {
    border: 0.5vw double rgba(96, 15, 71, 1);
    padding: 2vw;
  }

  .grid ul li {
    font-family: 'Lato', 'Times New Roman', sans-serif;
    font-size: 2vw;
    line-height: 3vw;
    list-style: inside;
  }

  .grid .item:nth-of-type(odd) img {
    border: 2px solid black;
    border-radius: 12vw;
    opacity: 80%;
  }

  .grid .item:nth-of-type(odd) img:hover {
    border: 0.5vw double rgba(96, 15, 71, 1);
    padding: 2vw;
  }

  .grid h2 {
    background-color: rgba(96, 15, 71, 1);
    color: #FFC200;
    text-align: center;
    padding: 1vw 0vw;
    font-size: 4vw;
  }

  .femdict dl{
    display: grid;
    border: 0.3vw solid rgba(96, 15, 71, 1);
    border-radius: 3vw;
    padding: 0.5vw 3vw;
    margin: 2vw 0vw;
    background-color: lightyellow;
  }

  .femdict dt{
    background-color: rgba(96, 15, 71, 1);
    color: #FFC200;
    text-align: center;
    padding: 1vw 0vw;
    margin: 1vw auto;
    border-radius: 1vw;
    width: 100%;
  }

  .femdict dd{
    border: 0.3vw solid rgba(96, 15, 71, 1);
    border-radius: 3vw;
    padding: 1vw;
    margin: 1vw;
    text-align: center;
  }

  .icon {
    visibility: hidden;
  }

  nav #mobilelinks {
    display: inline;
  }

  dt:first-child {
    margin-top: 2vw;
  }

 .logo_link:hover {
    border: none;
    cursor: default;
  }

  .logo:hover {
    border: 2px solid #FFFFFF;
    cursor:pointer;
  }
}